body {
  background-color: #dfdddd;
  margin: 0;
  font-family: 'Roboto','League Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.appbarColor{
  background-color: blueviolet;
}


